* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
}

.navbar {
  display: flex;
  width: 100%;
  padding: 0 60px;
  justify-content: space-between;
  gap: 110px;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 20px;

  a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
}

.love-like {
  background-color: #2e7d32;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 16px 28px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 16px;
  border: none;
  border-radius: 16px;
}

.header {
  background-color: #fdf1e4;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.impact-header {
  padding-top: 32px;
  padding-left: 68px;
  padding-right: 68px;
  background-color: #fdf1e4;
  text-align: center;
}

.impact-header .title-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.impact-header .line {
  height: 3px;
  width: 90px;
  background-color: #2e7d32;
}

.impact-header h2 {
  font-size: 24.53px;
  font-weight: bold;
  color: #2e7d32;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.impact-header .leaf {
  margin-top: 6px;
  font-size: 16px;
  color: #66bb6a;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 68px;
  text-align: center;
  background-color: #fdf1e4;
}

.heading h1 {
  font-size: 49.05px;
  font-weight: bold;
}

.heading p {
  font-size: 19.62px;
  width: 553.05px;
}

